/*CONSOLE STYLES*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Fira+Mono:wght@400;500;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --text-color: white;
}

.token.operator,
.token.punctuation {
  background: transparent !important;
  text-decoration: none !important;
}

.console{
    position: absolute; 
    display: flex;
    flex-direction: column;
    top: 50%; 
    left: 50%;
    width: 380px; 
    min-height: 300px;
    background-color: #161616; 
    color: var(--text-color); 
    padding: 10px; 
    border: none;
    border-radius: 5px;
    z-index: 1000;
    font-family: "Fira code";
    padding: 0 20px 20px 20px;
    -webkit-box-shadow: 10px 9px 0px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 10px 9px 0px 0px rgba(66, 68, 90, 1);
    box-shadow: 10px 9px 0px 0px rgba(66, 68, 90, 1);
}
.terminal{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}
.consoleBtn{
    position: absolute; 
    background-color: red;
    width: 1px;
    padding: 6px;
    border: none;
    border-radius: 20px;
    top: 22px;
}
.terminalBtn{
    width: 100%;
    text-align: center;
    background-color: #303030;
    border: solid 1px #303030;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    font-family: "Fira code";
    margin: 10px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.87);
    cursor: pointer;
    transition: all 0.3s;
}.terminalBtn:hover{
    color: var(--text-color);
    border-color: var(--text-color);
}
.output{
    margin-top: 10px; 
    white-space: pre-wrap;
}
pre{
    margin: 0;
    background-color: #303030;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px;
    text-wrap: wrap;
    text-align: justify;
    min-height: 15px;
    font-family: "Fira code";
    font-size: 14px;
}